<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="getDataFromConfig" value="true"/>
		<add key="obstaclePrecentageCreation" value="35"/>
		<add key="sourceCell" value="(1,2)"/>
		<add key="destinationCell" value="(9,10)"/>
		<add key="initialPopulationSize" value="1000000"/>
		<add key="generationAmount" value="500"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
