<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="createPStar" value="true"/>
		<add key="getDataFromConfig" value="true"/>
		<add key="sourceCell" value="(1,1)"/>
		<add key="destinationCell" value="(14,15)"/>
		<add key="initialPopulationSize" value="1000"/>
		<add key="generationAmount" value="10000"/>
		<add key="mutationProbability" value ="0.005"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
